@import '../../../resources/scss/vars';
@import '../../../resources/scss/mixins';

.workDetailSection{
    .container{
        @include container;
        .title{
            color: $blanco;
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 20px;
        }
        .contentWrap{
            @include flex($wrp: nowrap, $ai: stretch);
            height: 520px;
            .infoSide{
                width: calc(100% - 280px);
                max-height: 100%;
                transform: rotateY(180deg);
                overflow: auto;
                .info{
                    @include flex($jc: space-between);
                    transform: rotateY(180deg);
                    color: $blanco;
                    .decoInf{
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-decoration: underline wavy;
                    }
                    .descripcion{
                        margin-top: 30px;
                    }
                }
            }
            .phone {
                @include flex(column, nowrap);
                width: 260px;
                height: 520px;
                min-width: 260px;
                margin-left: 20px;
                border-radius: 20px;
                border: 2px solid #ccc;
                background-color: $blanco;
                position: relative;
                .speaker {
                    width: 50px;
                    min-height: 6px;
                    margin: 20px auto;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                }
                .screen {
                    @include scrollbars(0);
                    scrollbar-width: none;
                    flex-grow: 1;
                    width: 95%;
                    border: 1px solid #ccc;
                    overflow: auto;
                    .webPage{
                        width: 100%;
                    }
                }
                .home {
                    width: 35px;
                    min-height: 35px;
                    margin: 10px auto;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

