@import '../../../../resources/scss/vars';
@import '../../../../resources/scss/mixins';

.cursor{
    @include flex;
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;
    background-color: $blanco;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: $zcursor;
    transition: ease .2s;
    transition-property: width, height;
    &:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $blanco;
        background-color: rgba($blanco,.2);
        transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.3s;
    }
    &:after{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transform: scale(0);
        transition: ease all .2s;
    }
    &.hoverClickable, &.hoverExternaLink, &.hoverInternaLink{
        width: 15px;
        height: 15px;
        &:before{
            width: 50px;
            height: 50px;
        }
    }
    &.hoverExternaLink, &.hoverInternaLink {
        width: 0;
        height: 0;
        &:after{
            transform: scale(1);
        }
    }
    &.hoverExternaLink{
        &:after{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='%23fff'><path d='M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14'></path></svg>");
        }
    }
    &.hoverInternaLink{
        &:after{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='%23fff'><path d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1'></path></svg>");
        }
    }
}